*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white-color: #f3eeee;
    --gray-color: rgb(206, 203, 203);
    --primary-color: #040938;
    --secundary-color: #592869;
    --third-color: #c51538;
    --gap: 2.5rem;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%
}

body{
    font-size: 2rem;
}
a{
    color: inherit;
    text-decoration: none;
}

.main-content{
    max-width: 120rem;
    /* min-width: 65rem; */
    padding: 4rem 5rem;
    margin: 0 auto;
}

.main-bg{
    background-image: url(./../img/main-bg.svg);
    background-size: cover;
    color: var(--white-color);
}

.white-bg{
    background-color: var(--white-color);
    color: var(--primary-color);

}

.space-menu{
    margin-top: 6.3rem;
}
.section{
    min-height: 100vh;
}
/*Start => home */
.home-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    gap: var(--gap);
}

.text-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.gallery-img img{
    height: auto;
    width: 100%;
}

.title-content{
    font-size: 6rem;
    letter-spacing: 0.4rem;
    margin-bottom: 5rem;
}

.title-content em{
    font-style: normal;
}
.paragraph-content{
    letter-spacing: 0.2rem;
    line-height: 1.2;
    font-size: 1.9rem;
}

.paragraph-content strong{
    text-shadow: 1px -1px 5px #6C63FF;
}

/*End => home*/


/*start => top languages*/

.top-table-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 80rem;
    gap: var(--gap);
}

.top-table-content .paragraph-content{
    text-align: center;
}
caption{
    text-align: left;
    margin-bottom: 2rem;
    font-size: var(--gap);
    font-weight: bold
}

table th, table td{
    padding: 1rem 4rem;
    border: 1px solid black;
    font-style: italic;
}
table{
    width: 70rem;
    border-collapse: collapse;
}

.responsive-table{
    width: 100%;
    overflow-x: auto;
}

/*End => top languages  */

/*Start => gallery */

.gallery-content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 100vh;
    gap: 3rem;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: var(--gap);
}

.grid .gallery-img{
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
}

.grid .gallery-img img:hover{
    transform: translate(-5%,-5%) scale(1.1);
    transition: 300ms;
}
/*End => gallery*/

/*Start => contact  */

.contact-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--gap);
    min-height: 100vh;
}

.contact-text-img{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    align-items: center;
}

fieldset{
    border: none;
}

fieldset legend{
    font-size: var(--gap);
    margin-bottom: 2rem;
}
.grid-form{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: var(--gap);
    column-gap: 4rem;
    border-radius: 0.8rem;
}

.input-box{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: var(--gap);
}

.input-box input, .input-box textarea{
    background-color: var(--white-color);
    font-size: 2rem;
    border-radius: 0.8rem;
    padding: 1rem;
    outline: none;
    color: var(--primary-color);
     transition: all 200ms ease-in-out;
}

.input-box input{
    width: 100%;
    height: 4rem;
}

.input-box input:focus, .input-box textarea:focus{
    margin-top: 1rem;
    transform: scale(1.05);
    box-shadow: 1px -2px 2rem var(--white-color);
    border: none;
}

.input-box:nth-child(5){
    grid-column: span 2;
}
.input-box:nth-child(5) textarea{
    /* width: 100%; */
    /* min-width: 100%; */
    max-width: 100%;
    min-height: 15rem;
    max-height: 18rem;
}

.input-box a{
    position: relative;
    margin-top: 2rem;
    display: inline-block;
    border: 1px solid var(--white-color);
    padding: 1rem 0.5rem;
    width: 16rem;
    border-radius: 0.8rem;
    overflow: hidden;
}

.input-box a:hover{
    border: 1px solid transparent;
    transition: 0.5s;
    background-color: var(--white-color);
    box-shadow: 0 0 2rem var(--white-color),0 0 3rem var(--white-color);
    color: var(--primary-color);
    transform: scale(1.07) translate(-2%, -2%);
    font-weight: bold;
}

.input-box a span{
    position: absolute;
    display: block;
}

/* input button*/
.input-box a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 0.2rem;
    background-image: linear-gradient(90deg, transparent, var(--primary-color));
}

.input-box a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.input-box a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 0.2rem;
    height: 100%;
    background-image: linear-gradient(180deg, transparent, var(--secundary-color));
}

.input-box a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.input-box a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 0.2rem;
    background-image: linear-gradient(270deg, transparent, var(--third-color));
}

.input-box a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.input-box a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 0.2rem;
    height: 100%;
    background-image: linear-gradient(360deg, transparent, var(--primary-color));
}

.input-box a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/*End => contact  */

.footer-content{
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 50vh;
}

.footer-link{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.footer-link:first-child h1{
    font-size: 7rem;
    margin: 4rem 5rem;
}
.navigation-footer{
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0.45rem;
}

.navigation-footer a{
    display: inline-block;
    transition: all 200ms ease-in-out;
}

.navigation-footer a:hover{
    color: var(--third-color);
    /* padding-left: 0.5rem; */
    transform: scale(1.04) translate(0.5rem, 0);
}
/* Start => footer */



/* End => footer */
@media (max-width:850px){
    .grid-form{
        grid-template-columns: 1fr;
    }
    .input-box:nth-child(5){
        grid-column: span 1;
    }
}